extends layout

include mixins/_loginForm

block content
    .inner
        form.form(action="/register" method="POST")
            h2=title
            label(for="name") Name
            input(name="name" type="text" value=body.name)
            label(for="email") Email
            input(name="email" type="email" value=body.email)
            label(for="password") Password
            input(name="password" type="password")
            label(for="password-confirm") Confirm Password
            input(name="password-confirm" type="password")
            input.button(type="submit" value=title)