mixin LoginForm()
    form.form(action="/login" method="POST")
        h2=title
        label(for="email") Email address
        input(name="email" type="email")
        label(for="password") Password
        input(name="password" type="password")
        input.button(type="submit" value=title)